sources/utils/__pycache__
sources/downloaders/__pycache__
sources/PortablePython
prepare_portable.py
downloads
sources/download_history.json
settings.json
LinkCatty.sh
LinkCatty.cmd
sources/2FFmpeg
sources/FFmpeg
todo